@font-face {
    font-family: 'product_sansregular';
    src: url('product_sans_regular-webfont.woff2') format('woff2'),
        url('product_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DS-DIGI';
    src: url('DS-DIGIB.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8vh;
    font-family: 'product_sansregular';
    font-size: 1.4rem;
    font-weight: 400;
    background-image: linear-gradient(to right top, #ffe7f5, #fcdff5, #f6d8f6, #efd2f8, #e5ccfb, #d7d1ff, #cad5ff, #bfd9ff, #bce4ff, #bfeeff, #c8f7fe, #d6fffc);
    color: #333;
}

.title {
    font-size: calc(4rem + 4vw);
    color: #333;
    letter-spacing: 0.2vw;
}

button {
    outline: none;
    border: none;
    font-family: 'product_sansregular';
    font-size: 1.4rem;
    font-weight: 400;
}

.calc-body {
    /* width: 350px;
    height: 390px; */
    padding: 2rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(164, 164, 164);
    background: linear-gradient(135deg, rgba(164, 164, 164, 1)25%, rgba(73, 73, 73, 1) 100%);
    box-shadow: -2px -2px 0px rgb(164, 164, 164), inset -2.5px -2.5px 5px rgb(85, 85, 85), 5px 5px 15px;
    gap: 10px;
    border-bottom: 5px solid rgb(90, 90, 90);
    border-right: 5px solid rgb(90, 90, 90);
}

.display-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 10%);
}

.display {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 2px;
    width: 100%;
    height: 50px;
    background-color: #B1C0B1;
    box-shadow: -2px -2px 2px rgb(73, 73, 73), 2px 2px 2px rgb(164, 164, 164);
}

.screen-reflex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0.5rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(352deg, rgba(255, 255, 255, 0.5018382352941176) 10%, rgba(73, 73, 73, 0) 100%);
}

.previous-operand,
.current-operand {
    font-family: 'ds-digi';
    font-size: 2.5rem;
    color: #333;
}

.calc-name {
    /* font-family: 'Cookie', cursive; font-size: 2rem; */
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
}

.buttons-container {
    display: flex;
    gap: 1rem;
}

.buttons-left {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    gap: 10px;
}

.button {
    cursor: pointer;
    background-color: #d3d3d3;
    box-shadow: 1px 1px 5px #4f4f4f, inset -3px -3px 3px #afafaf;
    border-radius: 30px;
}

.button:hover {
    /* transform: translate(2px 2px); */
}

.btn-1 {}

.btn-2 {}

.btn-3 {}

.btn-4 {}

.btn-5 {}

.btn-6 {}

.btn-7 {}

.btn-8 {}

.btn-9 {}

.btn-0 {}

.btn-00 {}

.btn-comma {}

.buttons-right {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    gap: 10px;
}

.button-r {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #afafaf;
    box-shadow: 1px 1px 5px #2c2c2c, inset -3px -3px 3px #929292;
    border-radius: 15px;
}

.btn-on,
.btn-del {}

.btn-add {}

.btn-subtract {}

.btn-divide {}

.btn-multiply {}

.btn-result {
    grid-column: span 2;
    background-color: #e6be79;
    box-shadow: 1px 1px 5px #403522, inset -3px -3px 3px #997f50;
}